<section id="song" *ngIf="song && videoSource">
  <h1>{{song.title}}</h1>
  <h2>{{song.artist}}</h2>
  <div class="video-wrap">
    <video id="myVideo" #videoPlayer>
      <source src={{videoSource}} type="video/mp4"> Your browser does not support HTML5 video.
    </video>
    <div id="video-controls">
      <button (click)="toggle()">
        <i class="fa {{pauseClass}}"></i>
      </button>
    </div>
  </div>
  <p class="karaoke active">{{line1}}</p>
  <p class="karaoke">{{line2}}</p>
</section>

<div class="recommendation-wrap">
  <div *ngFor="let r of recommendations">
    <div *ngIf="r._id" [routerLink]="['/karaoke', r._id]">
      <img src="{{r.video_img}}" alt="{{r.title}}">
      <h2>{{r.title}}</h2>
    </div>
    <div *ngIf="!r._id" [routerLink]="['/karaoke', 'form', song.artist, r.id, r.title]">
      <img src="{{r.thumbnails.high.url}}" alt="{{r.title}}">
      <h2>{{r.title}}</h2>
    </div>
  </div>
</div>