<section id="song" class="container" *ngIf="song && videoSource">
  <div class="title">
    <h1 class="clip-text clip-text--cover">{{song.title}}</h1>
    <h2>{{song.artist}}</h2>
  </div>
  <div class="columns">
    <div class="main">
      <div class="video-wrap">
        <video id="myVideo" #videoPlayer>
          <source src={{videoSource}} type="video/mp4"> Your browser does not support HTML5 video.
        </video>
        <div id="video-controls">
          <button (click)="toggle()">
            <i class="fa {{pauseClass}}"></i>
          </button>
        </div>
      </div>
      <p class="karaoke active">{{line1}}</p>
      <p class="karaoke">{{line2}}</p>
    </div>
    <div class="recommendation-wrap" [style.height.px]="height">
      <div *ngFor="let r of recommendations">
        <div *ngIf="r._id" [routerLink]="['/karaoke', r._id]">
          <img src="{{r.video_img}}" alt="{{r.title}}">
          <h4>{{r.title}}</h4>
        </div>
        <div *ngIf="!r._id" [routerLink]="['/karaoke', 'form', song.artist, r.id, r.title]">
          <img src="{{r.thumbnails.high.url}}" alt="{{r.title}}">
          <h4>{{r.title}}</h4>
        </div>
      </div>
    </div>
  </div>
</section>