<div class="photo-album">
		
		<h1><span>Diego : Solo puedo encontrar paz en 404</span></h1>
		
		<a href="" class="large polaroid img1"><img src="../../assets/Diego Not Found/IMG_0303.jpg" alt="">Diego está triste</a>
		<a href="" class="polaroid img2"><img src="../../assets/Diego Not Found/IMG_0306.jpg" alt="">Diego pensando</a>
		<a href="" class="medium polaroid img3"><img src="../../assets/Diego Not Found/IMG_0413.jpg" alt="">Diego preguntando</a>
		
		<a href="" class="medium polaroid img4"><img src="../../assets/Diego Not Found/IMG_0414.jpg" alt="">Dónde está Diego?</a>
		
		<a href="" class="polaroid img5"><img src="../../assets/Diego Not Found/IMG_0415.jpg" alt="">Ay! Diego!</a>
		
		
		<a href="" class="polaroid img6"><img src="../../assets/Diego Not Found/IMG_0416.jpg" alt="">Diego no me responde</a>
		
		<a href="" class="medium polaroid img7"><img src="../../assets/Diego Not Found/IMG_0417.jpg" alt="">Los zapatos de Diego</a>
		<a href="" class="medium polaroid img8"><img src="../../assets/Diego Not Found/IMG_0418.jpg" alt="">Diego con una corona</a>
    <a href="" class="medium polaroid img9"><img src="../../assets/Diego Not Found/IMG_0419.jpg" alt="">Diego me ignora, Bruno sorprendido</a>
    
		<a href="" class="polaroid img10"><img src="../../assets/Diego Not Found/IMG_0420.jpg" alt="">La cabeza de Dieeeggo</a>
		<a href="" class="medium polaroid img11"><img src="../../assets/Diego Not Found/IMG_0427.jpg" alt="">Diego lejo lejo</a>
		<a href="" class="medium polaroid img12"><img src="../../assets/Diego Not Found/IMG_0421.jpg" alt="">Dieeegggogooogogoo</a>
		<a href="" class="medium polaroid img13"><img src="../../assets/Diego Not Found/IMG_0580.jpg" alt="">Diego con amigos</a>
		<a href="" class="large polaroid img14"><img src="../../assets/Diego Not Found/IMG_0584.jpg" alt="">Diego+Kike+Bruno</a>
		<a href="" class="medium polaroid polaroid img15"><img src="../../assets/Diego Not Found/IMG_0586.jpg" alt="">DIEGO DORMIDO</a>

</div>
