#home {
  position: fixed;
  left: 0;
  top: 0;
}

#myVideo {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#myVideo {
  min-width: 100vw;
  min-height: 100vh;
}

#video-controls {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 90vh;
  width: 150px;
}

#video-controls button {
  background: none;
  border: none;
  margin-right: 20px;
  color: #fff;
  font-size: 46px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  outline: none;
  text-align: left;
}

#video-controls button i[class^="fa fa-volume"] {
  width: 45px;
}

#home .actions {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clip-img {
  position: relative;
  z-index: 5;
}

.clip-img.no-link {
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

/* Log in / Sign up button */

.home-btn {
  display: inline-block;
  position: relative;
  padding: 15px 40px;
  font-size: 1.4rem;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  margin: 0 15px;
}

.home-btn.green {
  background: #7fc400;
  color: #fff;
}

.home-btn:hover {
  opacity: 0.8;
}
