<section id="home" *ngIf="videoSource">
  <video autoplay loop id="myVideo" #videoPlayer>
    <source src={{videoSource}} type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="actions">
    <div *ngIf="!sessionService.user">
      <div class="clip-img no-link">
        <img src="../../assets/logo.png" alt="Karaoke">
      </div>
      <div>
        <a class="home-btn" [routerLink]="['/signup']">Sign up</a>
        <a class="home-btn green" [routerLink]="['/login']">Log in</a>
      </div>
    </div>
    <div *ngIf="sessionService.user">
      <a class="clip-img" [routerLink]="['/karaoke']">
        <img src="../../assets/logo.png" alt="Karaoke">
      </a>
    </div>
  </div>
  <div id="video-controls">
    <button (click)="toggle()"><i class="fa {{pauseClass}}"></i></button>
    <button (click)="toggleSound()"><i class="fa {{volumeClass}}"></i></button>
  </div>
</section>