#home,
#myVideo {
    position: fixed;
    left: 0;
    top: 0;
}

#myVideo {
    min-width: 100vw;
    min-height: 100vh;
}

#video-controls {
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 90vh;
    width: 150px;
}

#video-controls button {
    background: none;
    border: none;
    margin-right: 20px;
    color: #fff;
    font-size: 46px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    outline: none;
    text-align: left;
}

#video-controls button i[class^="fa fa-volume"] {
    width: 45px;
}
