<header id="header">
  <div class="logo-wrp">
    <a [routerLink]="['/']"><img id="logo" src="../../assets/logo2.png" alt=""></a>
  </div>
  <nav>
    <ul>
      <li><a [routerLink]="['/']">Home</a></li>
      <li *ngIf="!sessionService.user"><a [routerLink]="['/signup']">Sign up</a></li>
      <li *ngIf="!sessionService.user"><a [routerLink]="['/login']">Log in</a></li>
      <li *ngIf="sessionService.user"><a [routerLink]="['/karaoke']">Karaoke</a></li>
      <li *ngIf="sessionService.user"><a [routerLink]="['/performances']">Performances</a></li>
      <li *ngIf="sessionService.user"><a href="#" (click)="logout();">Log out</a></li>
      <li *ngIf="sessionService.user"><a [routerLink]="['/profile']" ><img src={{sessionService.user.profilePic}} alt="userProfilePic"></a></li>
    </ul>
  </nav>
</header>

<div [ngClass]="{'bottom-right': true, 'do-show': performanceService.notification}" *ngIf="performanceService.notification">
  <div [routerLink]="['performances', performanceService.notification.video]">
    New performance by <strong>{{performanceService.notification.user.username}}</strong>!
  </div>
</div>

<router-outlet></router-outlet>