<div class="song-form">
  <h2 class="clip-text clip-text--cover">no matches, add a new song?</h2>
  <form (ngSubmit)="submitForm(myForm)" #myForm='ngForm'>
    <p class="error" *ngIf="error">{{error}}</p>
    <div>
      <input type="text" placeholder="Title" name="title" [(ngModel)]="title" required>
    </div>
    <div>
    	<input type="text" placeholder="Artist" name="artist" [(ngModel)]="artist" required>
    </div>
    <div>
      <input type="text" placeholder="Youtube url" name="youtube_url" [(ngModel)]="youtube_url" required>
    </div>
    <div>
      <textarea placeholder="lyrics (LRC format)" name="lyrics" [(ngModel)]="lyrics" required></textarea>
      <div class="lrc-info">
        <i class="fas fa-info-circle"></i>
        Get LRC file
        <a href="https://www.megalobiz.com/lrc/maker/download-music-lyrics-lrc-generated-files" target="_blank">here</a>.
      </div>
      <div class="lrc-info">
        <i class="fas fa-info-circle"></i>
        Generate LRC file
        <a href="http://www.lrcgenerator.com/" target="_blank">here</a>.
      </div>
    </div>
    <button type="submit">Add</button>
  </form>
</div>
<div *ngIf="notFinished">
  <app-loading></app-loading>
</div>