.song-form {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.song-form input,
.song-form textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #424242;
  border-radius: 3px;
  height: 30px;
  padding: 0 10px;
  font-size: 0.8rem;
}

.song-form textarea {
  resize: none;
  height: 200px;
  padding: 10px;
}

.song-form button {
  display: inline-block;
  position: relative;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  background: #E91E63;
  color: #fff;
  width: 100%;
}

.lrc-info {
  text-align: left;
  margin-bottom: 5px;
  font-size: 0.9rem;
}